.review-card {
    max-width: 400px;
    border: 1px rgba(0,0,0,.2) solid;
    padding: 1rem;
    margin: 0 1.5rem;
    .review-heading {
        display: flex;
    
        .review-image {
            width: 50px;
            border-radius: 50px;
            overflow: hidden;
            margin-right: .5rem;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .review-stars {
            color: #ff9900;
        }

        .review-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .review-headline {
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: .25rem;
        }
    }

    .review-description {
        height: 4rem;
        display: -webkit-box;
        max-width: 400px;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 1rem;
        margin-top: .5rem;
    }
}